
/*Headders*/
.gallery-h {
	margin: 30px auto;  
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 10px;
}
.gal-h{
    width: 200px;
    height: 300px;
    background: #333;
	animation-delay:30s;
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.gal-h:hover{
	 width: 300px;
    height: 450px;
	z-index: 2
}

.gallery-v {
		margin: 30px auto;  
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.gal-v{
    width: 300px;
    height: 200px;
    background: #333;
	animation-delay:30s;
	
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.gal-v:hover{
	 width: 450px;
    height: 300px;
	z-index: 8;
	

}


@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

header{
	background-repeat: repeat;
	background-color: white;
	border-bottom: solid;
	position: fixed;
	top: 0px;
	height: 100px;
	width: 100%;
	z-index: 10}
.logo{
	width: 80px;
	height: 80px;
	position: fixed;
	left:10px;
	top:10px}
/*menu*/
.navigation{
	position: fixed;
	top: 50px;
	left: 100px;
	font-family: 'Poppins', sans-serif;}
nav ul li { 
	float:left;
	list-style:
	none; }
nav ul ul {
	display:none;
	width:150px;}
nav li {
	background:white;}
nav li a {
	text-decoration: none;
	color: #000;
	padding: 4px 0 4px;
	display:block; width:150px;}
nav ul {
	padding: 0;
	margin:0px;
	text-align:center;}
nav ul.niveau1 li.sousmenu:hover ul.niveau2{
	display:block;}
nav li:hover{
	border-bottom: solid;
	border-bottom-color:#8192A1}
nav li.sousmenu:hover {
	background-color: #8192A1}
/* Formulaire */
.cont-b li  {
	list-style:none;

}

table{
	background-color: black;
	color: white;
	font-family:'Roboto', sans-serif; ;
	padding: 20px;}

select{
	width: 167px;}

textarea{
	border: solid;
	font-family: 'Roboto', sans-serif;
	width: 160px}
select{
	border: solid;
	font-family: 'Roboto', sans-serif;}
/*Coprs*/
body{
display:block;
position: relative;
top: 100px;
	margin-left:  auto;
margin-right:auto;
padding-top :10px ;
padding-bottom: 100px;
animation-direction:alternate-reverse;
animation-duration:10s;
animation-iteration-count:infinite;
animation-name:anim-back}

	
@-webkit-keyframes anim-back {
  0% {
   background: linear-gradient( 70deg, #475159,#70818C,#70818C);
  }
  50% {
   background: linear-gradient(70deg, #70818C,#475159,#70818C);
  }
	100% {
   background: linear-gradient(70deg, #70818C,#70818C,#475159);
  }
}


.cont-a{
	
	width:100%; 
	float:middle ;
	align-items: center;
	margin: 0 auto;
	height: 100%;	}
.cont-b{
	background: white ;
	max-width: 75% ;
	margin: 0 auto;  
	/*box-shadow: -12px 12px 12px darkgrey;*/
	margin-bottom: 25px;
	margin-top: 25px;
	
	border: solid}
	
		
.cont-c{
	display: none;
	background-color: black;
	position: relative;
	top: -165px;
	width: 300px;
	height: 150px;
	color: white;
	opacity: 75%;}
.cont-d{
	
		position: relative;
		top: -100PX;
		bottom: 0;
		right: 0;
		left: 10;
		display: flex;
		justify-content: center;
		align-items: center;}
.cont-e{
	display: block}
.qui{
		background-color: black;
		color: white;
		position: relative;
		width: 50%;
		top: -250px;
		opacity: 75%}
/*carré*/
.carre {
	padding: 10px;
	margin: 10px;
	border-bottom: solid;
	border-top:solid;
	background-color: white;
	height: 300px;
	width: 300px;}
.int{
		display: none;
		position: relative;
		width: 300px;}
.carre:hover{
	padding: 10px;
	margin: 10px ;
	border-bottom: solid;
	border-top:solid;
	background-color: black;
	height: 300px;
	width: 300px;}
.carre:hover .int{
	display: block}
.carre:hover .cont-c{
	display: block}
/*Texte*/
.cont-c p{
	margin: 0px}
p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 10px;
    text-indent: 15px;
    text-align: justify;
    text-align-last: left;}
.cont-b li p {
 	margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 0px;
    text-indent: 15px;
    text-align: justify;
    text-align-last: left;}
h1{
	font-family:Poppins, sans-serif;
	font-size:35px;
	font-style:normal;
	font-weight:bold;
	margin-left:4px;
	text-indent:15px;
	margin-block-start: 0px;
    margin-block-end: 0px;}
h2{
	font-family:Poppins, sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	margin-left:4px;
	text-indent:15px;}
/*Image*/ 
.imgart {
	padding: 10px;
	background-color: black;
	float:left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;}
.imgalt {
	padding: 10px;
	background-color: black;
	float:right;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;}
/*footer*/
footer{
	display: block;
	background-repeat: repeat;
	background-color: white;
	border-top: solid;
	position:fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	height: 100px;
	z-index: 1}

footer ul {
	list-style: none;
	font-family: Poppins, sans-serif;
	font-size: 15px;
}
.social li{
	display: inline;}
.social {
	float:right;
	position: relative;
	bottom: 90px;
	right: 20px ;
}
/*Bouton*/
button{
	float: left;
    display: block;
      background-color: white;
      border-radius:20px;
      border: solid black;
      width: 40px;
	 height: 40px;
      cursor: pointer;
      margin: 5px;}
button:hover{
	background-color: black;}


@media only screen and (max-width : 320px) {	}
@media only screen and (max-width : 750px) {
	.cont-b{
		max-width: 100%;}
	.navigation{
		width: 150px;
		top: 0px;
		font-size:10px}}
@media only screen and (max-width : 1300px) {
	.cont-d{
		display: block;
		top: 0px}
	.carre{
	margin-left: auto;
  	margin-right: auto;}
	.carre:hover{
	margin-left: auto;
  	margin-right: auto;}
	.qui{
	background-color: black;
	color: white;
	position: relative;
	width: 100%;
	top: -80px;
	opacity: 75%}}
