
/*Headders*/
.gallery-h {
	margin: 30px auto;  
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 10px;
}
.gal-h{
    width: 200px;
    height: 300px;
    background: #333;
	animation-delay:30s;
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.gal-h:hover{
	width: 300px;
    height: 450px;
	z-index: 2;
	transition: all 1s;
	position: relative ;
	top: -50px;
	right:75px;
}

.gallery-v {
		margin: 30px auto;  
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.gal-v{
    width: 300px;
    height: 200px;
    background: #333;
	animation-delay:30s;
	
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.gal-v:hover{
	 width: 450px;
    height: 300px;
	z-index: 8;
	transition: all 1s;
	position: relative ;
	top: -50px;
	right:75px;

}


@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

header{
	background-repeat: repeat;
	background-color: white;
	border-bottom: solid;
	position: fixed;
	top: 0px;
	height: 100px;
	width: 100%;
	z-index: 10}
.logo{
	width: 80px;
	height: 80px;
	position: fixed;
	left:10px;
	top:10px}
/*menu*/
.navigation{
	position: fixed;
	top: 50px;
	left: 100px;
	font-family: 'Poppins', sans-serif;}
nav ul li { 
	float:left;
	list-style:
	none; }
nav ul ul {
	display:none;
	width:150px;}
nav li {
	background:white;}
nav li a {
	text-decoration: none;
	color: #000;
	padding: 4px 0 4px;
	display:block; width:150px;}
nav ul {
	padding: 0;
	margin:0px;
	text-align:center;}
nav ul.niveau1 li.sousmenu:hover ul.niveau2{
	display:block;}
nav li:hover{
	border-bottom: solid;
	border-bottom-color:#8192A1}
nav li.sousmenu:hover {
	background-color: #8192A1}
/* Formulaire */
.cont-b li  {
	list-style:none;

}

table{
	width: 50%;
	background-color: black;
	color: white;
	font-family:'Roboto', sans-serif; ;
	padding: 20px;}



textarea{
	border: solid;
	font-family: 'Roboto', sans-serif;
	width: 100%}
select{
	border: solid;
	font-family: 'Roboto', sans-serif;
}

/*Coprs*/
body{
display:block;
position: relative;
top: 100px;
	margin-left:  auto;
margin-right:auto;
padding-top :10px ;
padding-bottom: 100px;
animation-direction:alternate-reverse;
animation-duration:10s;
animation-iteration-count:infinite;
animation-name:anim-back}

	
@-webkit-keyframes anim-back {
  0% {
   background: linear-gradient( 70deg, #475159,#70818C,#70818C);
  }
  50% {
   background: linear-gradient(70deg, #70818C,#475159,#70818C);
  }
	100% {
   background: linear-gradient(70deg, #70818C,#70818C,#475159);
  }
}


.cont-a{
	
	width:100%; 
	float:middle ;
	align-items: center;
	margin: 0 auto;
	height: 100%;	}
.cont-b{
	background: white ;
	max-width: 75% ;
	margin: 0 auto;  
	/*box-shadow: -12px 12px 12px darkgrey;*/
	margin-bottom: 25px;
	margin-top: 25px;
	
	border: solid}
	
		
.cont-c{
	display: none;

	position: relative;
	top: 150px;
	width: 300px;
	height: 150px;

	opacity: 75%;
z-index:10 ;}
.cont-d{
	
		position: relative;
		top: -100PX;
		bottom: 0;
		right: 0;
		left: 10;
		display: flex;
		justify-content: center;
		align-items: center;}
.cont-e{
	display: block}
.cont-f{
		display: inline;
	margin:auto}
	.cont-f iframe {float:right;
	top: 100px
	HA}
.qui{
		background-color: black;
		color: white;
		position: relative;
		width: 50%;
		top: -250px;
		opacity: 75%}
/*carré*/
.carre {
	padding: 10px;
	margin: 10px;
	border-bottom: solid;
	border-top:solid;
	height: 300px;
	width: 300px;}
.bc1{
	background-image: url("../img/bag0.png");
}
.bc2{
	background-image: url("../img/ap0.png");
}
.bc3{
	background-image: url("../img/tel01.png");
}
.int{
	color: white;
		display: none;
		position: relative;
		width: 300px;
		opacity: 100%;
		z-index: 1;
}
.carre:hover{
	padding: 10px;
	margin: 10px ;
	border-bottom: solid;
	border-top:solid;
	background-color: black;
	height: 300px;
	width: 300px;}
.bc1:hover{
		background-image: url("../img/bag1.png");
	}

.carre:hover .test{
	width: 50px;
	height: 50px;
	animation-duration: 3s;
	animation-name: poke;
	animation-iteration-count: infinite;
	float : left;

}

  @keyframes poke {
	0% {
	background-image: url("../img/icons3.png");
	  position: relative;
	  top:100px;
	  left: 80px;
	  opacity: 0%;

	}
  
	75% {
		position: relative;
		top:0px;
		left: 0px;
		opacity: 100%
	}

	100%{
		background-image: url("../img/icons3.png");
		position: relative;
		top:10px;
		left: -30px;
		opacity: 0%
	}
  }
  .carre:hover .test2{
	
	width: 50px;
	height: 50px;
	animation-duration: 3s;
	animation-delay: 1S;
	animation-name: poke2;
	animation-iteration-count: infinite;
	float : left;
}

  @keyframes poke2 {
	0% {
	background-image: url("../img/icons.png");
	  position: relative;
	  top:100px;
	  left: 50px;
	  opacity: 0%;

	}
  
	75% {
		position: relative;
		top:0px;
		left: 50px;
		opacity: 100%
	}

	100%{
		background-image: url("../img/icons.png");
		position: relative;
		top:10px;
		left: 50px;
		opacity: 0%
	}
  }
  .carre:hover .test3{
	
	width: 50px;
	height: 50px;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-name: poke3;
	animation-iteration-count: infinite;
	float : left;
}

  @keyframes poke3 {
	0% {
	background-image: url("../img/icons2.png");
	  position: relative;
	  top:100px;
	  left: 100px;
	  opacity: 0%;

	}
  
	75% {
		position: relative;
		top: 0px;
		left: 120px;
		opacity: 100%
	}

	100%{
		background-image: url("../img/icons2.png");
		position: relative;
		top:10px;
		left: 140px;
		opacity: 0%
	}
  }
  .test4{
	  display: none;
	  top: -80px;
  }
  
  .carre:hover .test4{
	display: block;
	
	animation-duration: 2s;
	animation-name: poke4;
	animation-iteration-count: infinite;
	float : left;
}

  @keyframes poke4 {
	0% {
		position: relative;
		top:-10px;
		left: 90px;
	
	  width: 150px;
	  height: 150px;
	opacity: 0%;

	}
  
	100%{
		position: relative;
		top:-10px;
		left: 90px;
	

		width: 150px;
		height: 150px;

	}
  }
  .test5{

	display: none;

	height: 30px;
	width: 30px;
	background-image: url("../img/tel02.jpg");
}

.carre:hover .test5{
  display: block;
  position: relative;
  top:95px;
  left: 130px;
  animation-duration: 2s;
  animation-name: poke5;
  animation-iteration-count: infinite;
  float : left;
}
 
  @keyframes poke5 {
	0% {
	  transform: scale3d(1, 1, 1);

	}
	30% {
	transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	 transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	transform: scale3d(1, 1, 1);
	}
  }

 
.carre:hover .int{
	display: block;
	background-color: black;
	opacity: 75%;
	height: 150px;
}
.carre:hover .cont-c{
	display: block}
/*Texte*/
.cont-c p{
	margin: 0px}
p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 10px;
    text-indent: 15px;
    text-align: justify;
    text-align-last: left;}
.cont-b li p {
 	margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 0px;
    text-indent: 15px;
    text-align: justify;
    text-align-last: left;}
h1{
	font-family:Poppins, sans-serif;
	font-size:35px;
	font-style:normal;
	font-weight:bold;
	margin-left:4px;
	text-indent:15px;
	margin-block-start: 0px;
    margin-block-end: 0px;}
h2{
	font-family:Poppins, sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	margin-left:4px;
	text-indent:15px;}
/*Image*/ 
.imgart {
	padding: 10px;
	background-color: black;
	float:left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;}
.imgalt {
	padding: 10px;
	background-color: black;
	float:right;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;}
/*footer*/
footer{
	display: block;
	background-repeat: repeat;
	background-color: white;
	border-top: solid;
	position:fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	height: 100px;
	z-index: 1}

footer ul {
	list-style: none;
	font-family: Poppins, sans-serif;
	font-size: 15px;
}
.social li{
	display: inline;}
.social {
	float:right;
	position: relative;
	bottom: 90px;
	right: 20px ;
}
/*Bouton*/
button{
	float: left;
    display: block;
      background-color: white;
      border-radius:20px;
      border: solid black;
      width: 40px;
	 height: 40px;
      cursor: pointer;
      margin: 5px;}
button:hover{
	background-color: black;}


@media only screen and (max-width : 320px) {	}
@media only screen and (max-width : 750px) {
	.cont-b{
		max-width: 100%;}
	.navigation{
		width: 150px;
		top: 0px;
		font-size:10px}}
@media only screen and (max-width : 1300px) {
	.cont-d{
		display: block;
		top: 0px}
	.carre{
	margin-left: auto;
  	margin-right: auto;}
	.carre:hover{
	margin-left: auto;
  	margin-right: auto;}
	.qui{
	background-color: black;
	color: white;
	position: relative;
	width: 100%;
	top: -80px;
	opacity: 75%}}
